.hr0 {
	height:1px;
	border:none;
	border-top:1px dashed #0066CC;
}

.div {
	background-color: #CCCCCC;
	width: 120px;
	height: 100px;
	border: 1px solid;
	padding: 5px;
	display: inline-block;
}

.footer {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
	text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #e5e5e5;
    background-color: #f5f5f5;
    background-color: #f5f5f5;
}