{% extends "layout.html" %}

{% block title %}Page Not Found{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for("static", filename="css/lib/404.css") }}">
    <link rel="alternate" type="application/rss+xml" href="http://feeds.feedburner.com/huwshimi">
{% endblock %}

{% block meta %}
    {{ super() }}
    <meta name="viewport" content="width=device-width">
{% endblock %}

{% block page_content %}
	
	<script type="text/javascript" async="" src="{{ url_for("static", filename="js/lib/ga.js") }}"></script><script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-3551564-1']);
		_gaq.push(['_trackPageview']);

		(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>

	<div id="error">
		<a href="{{ url_for("index") }}"><img src="{{ url_for("static", filename="img/404.png") }}" alt="404 page not found" id="error404-image"></a>
	</div>
{% endblock %}