{% extends "layout.html" %}


{% block title  %}殷成涛 毕设演示{% endblock %}

{% block page_content %}

	<div class="jumbotron masthead col-md-12">
		<div class="container">
			<h1>基于虚拟总线的</h1>
			<h1>动态多模冗余计算仿真研究</h1>
			<hr>
			<p>2016届殷成涛毕业设计作品</p>
			<p><a href="{{ url_for("show_bs") }}" class="btn btn-primary btn-large">演示项目</a></p>
			<ul class="masthead-links">
				<li><a href="https://github.com/yinwoods/Graduation-Project">GitHub 地址</a></li>
				<li><a href="http://v2.bootcss.com/getting-started.html#examples">论文在线阅读</a></li>
			</ul>
		</div>
	</div>

	<div class="container"> 
 		<div class="col-md-4 most-popular"> 
            <div class="well"> 
                <h2>涉及技术</h2>
                <ul class="list-group"> 
                	<li class="list-group-item list-group-item-warning"><span class="glyphicon glyphicon-flash"></span> linux内核编程 </li> 
                    <li class="list-group-item list-group-item-warning"><span class="glyphicon glyphicon-flash"></span> python3 + Flask 前台</li> 
                    <li class="list-group-item list-group-item-warning"><span class="glyphicon glyphicon-flash"></span> shell脚本编写 </li> 
                    <li class="list-group-item list-group-item-warning"><span class="glyphicon glyphicon-flash"></span> bootstrap 前端</li> 
                </ul>
            </div> 
        </div> 
        <div class="col-md-4"> 
            <div class="well"> 
                <h2>实现功能</h2>
                <ul class="list-group"> 
                    <li class="list-group-item list-group-item-success"><span class="glyphicon glyphicon-record"></span> 虚拟总线上驱动设备的动态挂载</li> 
                    <li class="list-group-item list-group-item-success"><span class="glyphicon glyphicon-record"></span> 多模冗余计算</li> 
                    <li class="list-group-item list-group-item-success"><span class="glyphicon glyphicon-record"></span> 控制逻辑表决</li> 
                    <li class="list-group-item list-group-item-success"><span class="glyphicon glyphicon-record"></span> 前台页面展示</li> 
                </ul>           
            </div> 
        </div> 
        <div class="col-md-4"> 
            <div class="well"> 
                <h2>指导教师</h2>
                <ul class="list-group"> 
                    <li class="list-group-item list-group-item-info"><span class="glyphicon glyphicon-user"></span> 肖利民 教授 xiaolm@buaa.edu.cn</li> 
                    <li class="list-group-item list-group-item-info"><span class="glyphicon glyphicon-user"></span> 庄   雷 教授 ielzhuang@zzu.edu.cn</li>
                    <li class="list-group-item list-group-item-info"><span class="glyphicon glyphicon-user"></span> 秦广军 博士 qingj@buaa.edu.cn</li> 
                </ul> 
                <p></p> 
                <hr> 
            </div> 
        </div> 
    	<div class="col-md-12">
    		<center>
			<img src="https://cdn2.iconfinder.com/data/icons/web-development-17/64/seo_web_development_python-128.png" alt="..." class="img-circle">
	        <img src="https://cdn0.iconfinder.com/data/icons/browser-and-os/110/browser-os-01-128.png" alt="..." class="img-circle">
	        <img src="https://cdn0.iconfinder.com/data/icons/long-shadow-web-icons/512/boostrap-128.png" alt="..." class="img-circle">
	        <img src="https://cdn1.iconfinder.com/data/icons/seo-web-development/64/Icon_coding-128.png" alt="..." class="img-circle">
	        <img src="https://cdn2.iconfinder.com/data/icons/mobile-device/512/latin-letter-uppercase-c-keyboard-round-128.png" alt="..." class="img-circle">
	        <img src="https://cdn0.iconfinder.com/data/icons/flat-social-media-icons-set-round-style-1/550/github-128.png" alt="..." class="img-circle">
	        </center>
		</div>
    </div> 

{% endblock %}
