{% extends "layout.html" %}


{% block title  %}殷成涛 毕设演示{% endblock %}

{% block page_content %}
	<div class="jumbotron masthead">
		<div class="container">
			<h1>基于虚拟总线的</h1>
			<h1>动态多模冗余计算仿真研究</h1>
			<p>2016届殷成涛毕业设计作品</p>
			<p><a href="{{ url_for("show_bs") }}" class="btn btn-primary btn-large">演示项目</a></p>
			<ul class="masthead-links">
				<li><a href="https://github.com/yinwoods/Graduation-Project">GitHub 地址</a></li>
				<li><a href="http://v2.bootcss.com/getting-started.html#examples">论文在线阅读</a></li>
			</ul>
		</div>
	</div>
{% endblock %}
