{% extends "bootstrap/base.html" %}

{% block styles %}
    {{ super() }}
    <link rel="shortcut icon" href="{{ url_for("static", filename="img/favicon.ico") }}">
    <link href="{{ url_for("static", filename="css/style.css") }}" media="screen" rel="stylesheet" type="text/css" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
	<link href="//www.fuelcdn.com/fuelux/3.13.0/css/fuelux.min.css" rel="stylesheet">
{% endblock %}

{% block meta %}
    {{ super() }}
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
{% endblock %}

{% block title %}殷成涛 毕设演示{% endblock %}



{% block navbar %}
<div class="navbar navbar-inverse"role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button"class="navbar-toggle"data-toggle="collapse"data-target=".navbar-collapse">
    			<span class="sr-only">Toggle navigation</span>
    			<span class="icon-bar"></span>
    			<span class="icon-bar"></span>
    			<span class="icon-bar"></span>
			</button>
			
			<a class="navbar-brand"href="/">殷成涛 毕设</a>
			
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				<li class="active"><a href="/">主页</a></li>
				<li><a href="show_bs">演示项目</a></li>
				<li><a href="bs_introduce">关于毕设</a></li>
				<li><a href="bs_schedule">毕设进度</a></li>
				<li><a href="about_me">个人简介</a></li>
			</ul>
		</div>
	</div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    {% block page_content %}
    {% endblock %}
</div>

<br><br><br><br><br><br><br><br><br><br>
<footer class="footer">
    <div class="container">
        <p>代码托管在 <a href="https://github.com/yinwoods/Graduation-Project"> GitHub </a>。</p>
        <p>项目架构采用 <a href="https://www.python.org/download/releases/3.4.0/"> python3.4 </a> + <a href="http://flask.pocoo.org/"> Flask </a></p>
    <iframe id="tmp_downloadhelper_iframe" style="display: none;"></iframe></div>
</footer>
    <iframe id="tmp_downloadhelper_iframe" style="display: none;"></iframe></div>
{% endblock %}